<md-content id="matches" layout="row" layout-wrap class="md-padding" style="padding: 24px;">
	<md-list layout-fill>
		<md-item ng-repeat="match in matches" ng-class="{ 'match_comming'   : match.status === 0, 'match_live' : match.status === 1, 'match_finished' : match.status === 2}">
			<md-item-content>
				<div class="md-tile-left" style="margin-right:48px">
					<h3>Trận {{match.id}}</h3>
				</div>
				<div>
					<h4>{{match.team_1_name}} : {{match.team_1_victory}} || {{match.team_2_victory}} : {{match.team_2_name}} : </h4>
				</div>
			</md-item-content>
			<md-divider ng-if="!$last"></md-divider>
		</md-item>
    </md-list>
</md-content>
