<md-list>
	<md-item>
		<md-item-content>
			<md-button class="menu-item" ng-click="toggleLeft()" ui-sref="trang-chu">Trang chủ</md-button>
		</md-item-content>
		<md-divider></md-divider>
	</md-item>
	<md-item>
		<md-item-content>
			<md-button class="menu-item" ng-click="toggleLeft()" ui-sref="tin-tuc">Tin tức</md-button>
		</md-item-content>
		<md-divider></md-divider>
	</md-item>
	<md-item>
		<md-item-content>
			<md-button class="menu-item" ng-click="toggleLeft()" ui-sref="bang-xep-hang">Bảng xếp hạng</md-button>
		</md-item-content>
		<md-divider></md-divider>
	</md-item>
	<md-item>
		<md-item-content>
			<md-button class="menu-item" ng-click="toggleLeft()" ui-sref="lich-thi-dau">Lịch thi đấu</md-button>
		</md-item-content>
		<md-divider></md-divider>
	</md-item>
	<md-item>
		<md-item-content>
			<md-button class="menu-item" ng-click="toggleLeft()" ui-sref="thanh-vien">Thành viên</md-button>
		</md-item-content>
		<md-divider></md-divider>
	</md-item>
	<md-item>
		<md-item-content>
			<md-button class="menu-item" ng-click="toggleLeft()" ui-sref="luat-thi-dau">Luật thi đấu</md-button>
		</md-item-content>
		<md-divider></md-divider>
	</md-item>
	<md-item>
		<md-item-content>
			<md-button class="menu-item" ng-click="toggleLeft()" ui-sref="gioi-thieu">Giới thiệu</md-button>
		</md-item-content>
	</md-item>
</md-list>