<md-content id="rule-play" style="padding: 12px;">
    <md-list>
      	<md-item>
      		<md-item-content>
      			<div class="md-tile-left">
      				#1.
				</div>
				<div class="md-tile-content">
					<h3>Lên đời 3 được đánh tất cả thể loại quân trừ việc bo thành và xây chòi</h3>
				</div>
      		</md-item-content>
    	</md-item>
    	<md-divider></md-divider>
		<md-item>
			<md-item-content>
				<div class="md-tile-left">
	      				#2.
				</div>
				<div class="md-tile-content">
					<h3>Trước khi kích lên đời 3 không được đẻ bất kì đơn vị quân nào (cung T , búa chém, quẩy, scout )</h3>
				</div>
			</md-item-content>
		</md-item>
		<md-divider></md-divider>
		<md-item>
			<md-item-content>
				<div class="md-tile-left">
	      				#3.
				</div>
				<div class="md-tile-content">
					<h3>Sau khi kích 3 chỉ được đẻ duy nhất 1 đơn vị quân đời 2 (để công hay thủ thì tùy), sau khi chết được đẻ tiếp. Điều này nghĩa là nếu bạn đẻ scout đi dò và chọc dân đối phương thì ở nhà bạn không được đẻ thêm cung T hay quẩy thủ nhà nữa, hoặc nếu đã đẻ cung T thì cũng không được đẻ quẩy hay scout nữa (tóm lại là trong quá trình lên 3 thỉ chỉ được phép tồn tại duy nhất 1 và chỉ 1 quân đời 2 mà thôi )</h3>
				</div>
			</md-item-content>
		</md-item>
		<md-divider></md-divider>
		<md-item>
			<md-item-content>
				<div class="md-tile-left">
	      			#4.
				</div>
				<div class="md-tile-content">
					<h3>Được bơm cho đồng đội sau khi kích 3 hoặc phải lên 3 xong mới được bơm (phổ biến là sau khi kích 3 được bơm rồi )</h3>
				</div>
			</md-item-content>
		</md-item>
		<md-divider></md-divider>
		<md-item>
			<md-item-content>
				<div class="md-tile-left">
	      			#5.
				</div>
				<div class="md-tile-content">
					<h3>hông đập móng nhà không keng e vào nhà đối phương và không đập dân khi chưa lên xong 3</h3>
				</div>
			</md-item-content>
		</md-item>
		<md-divider></md-divider>
		<md-item>
			<md-item-content>
				<div class="md-tile-left">
	      			#6.
				</div>
				<div class="md-tile-content">
					<h3>trường hợp các đội = điểm thì tính hiệu số thắng thua</h3>
				</div>
			</md-item-content>
		</md-item>
		<md-divider></md-divider>
		<md-item>
			<md-item-content>
				<div class="md-tile-left">
	      			#7.
				</div>
				<div class="md-tile-content">
					<h3>Trường hợp = điểm và = hiệu số thắng thua thì bốc thăm</h3>
				</div>
			</md-item-content>
		</md-item>
		<md-divider></md-divider>
		<md-item>
			<md-item-content>
				<div class="md-tile-left">
	      			#8.
				</div>
				<div class="md-tile-content">
					<h3>goài ra còn có một số điều bổ sung mà tùy nơi tùy giải đấu áp dụng</h3>
				</div>
			</md-item-content>
		</md-item>
    </md-list>
</md-content>